* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #6D6027;  
  background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  
  background: linear-gradient(to right, #D3CBB8, #6D6027); 
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-button {
  display: none;
}

.table-container {
  width: 80%;
  margin: 0 auto;
}

.input {
  min-height: 84px;
}
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  max-height: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding-right: 140px;

  th {
    font-weight: 600 !important;
    font-size: 16px !important;
  }
}

.container {
  height: 50vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #dacccc;
  border-radius: 10px;
  padding: 10px 20px;

  h2 {
    margin-bottom: 20px;
  }
}

.pagination {
  margin-top: auto;
  padding: 16px 0 8px 0;
  border-top: 1px solid whitesmoke;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin-top: 12px;
  }
}

.center {
  text-align: center;
}
